body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

.login-box {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.login-box h2 {
    text-align: center;
}

.login-box input {
    width: 100%;
    margin-bottom: 10px;
}
